# Ignorar arquivos de ambiente
.env

# Ignorar dependências
node_modules/

# Ignorar build
/dist

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar logs
*.log

# Ignorar arquivos temporários
*.tmp
